.container{
    font-family: var(--base);
    display: flex;
    gap: 8px;
}

.info{
    flex-direction: column;
    gap: 0px;
}

.nomeLinha{
    display: flex;
    align-items: center;
    gap: 4px;
    width: calc(100% - 80px);
}

.badgeVerificado{
    width: 18px;
    height: 18px;
}

.badgeS,
.badgeT,
.badgeE,
.badgeM{
    font-family: var(--logo);
    font-size: var(--M);
}

.badgeS { color: var(--verde) }
.badgeT { color: var(--primaria-escura) }
.badgeE { color: var(--primaria) }
.badgeM { color: var(--rosa) }

.nome{
    font-weight: 500;
    color: var(--preto);
}

.username{
    color: var(--cinza);
}

.iconPerfil{
    padding: 8px;
    border-radius: 999px;
    border: 2px solid;
        color: var(--primaria);
}

.btnSeguir{
    width: 36px;
    height: 36px;
    border-radius: 999px;
    background-color: var(--verde);
    color: var(--preto);
    border: 2px solid var(--preto);
    filter: drop-shadow(0px 4px var(--preto));
    cursor: pointer;
    transition: .1s ease;
}

.btnSeguir.ativo{
    background-color: var(--cinza);
    transform: translateY(4px);
    filter: drop-shadow(0px 0px var(--preto));
}