.container{
    overflow-x: hidden;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
}

.chipSobre{
    position: relative;
    right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: var(--rosa);
    border: 3px solid var(--preto);
    border-radius: 999px;
    padding: 8px 16px;
}

.estrelaChip{
    background-color: var(--preto);

    mask-image: url('../assets/estrela.svg');
    -webkit-mask-image: url('../assets/estrela.svg');
    mask-repeat: no-repeat;
    mask-size: contain;

    width: 12px;
    height: 12px;
}

.textoChip{
    color: var(--preto);
    font-family: var(--base);
    font-size: var(--P);
}

.fundoMain{
    position: absolute;
    inset: 0;
    z-index: -999;
}

.textoMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.subtituloMain{
    font-family: var(--base);
    font-size: var(--G);
    color: var(--preto);
}

.tituloMain{
    position: relative;
    left: 200px;
    bottom: 40px;

    font-family: var(--adicional);
    font-size: var(--XG);
    color: var(--primaria-escura);
    font-weight: 200;
}

.florMain{
    background-color: var(--primaria);

    mask-image: url('../assets/img/flor.svg');
    -webkit-mask-image: url('../assets/img/flor.svg');
    mask-repeat: no-repeat;
    mask-size: contain;

    transform: scaleX(-1);
    width: 28rem;
    height: 28rem;

    position: absolute;
    left: -50px;
    bottom: 0px;
}

.moldura{
    margin-top: 12rem;
    transform: rotate(4deg);
}

.imgMoldura{
    width: 800px;
    height: 600px;

    border-radius: 32px;
    border: 6px solid var(--primaria-escura);

    z-index: 111;
}

.estrelaMoldura1, .estrelaMoldura2{
    background-color: var(--primaria);

    mask-image: url('../assets/estrela.svg');
    -webkit-mask-image: url('../assets/estrela.svg');
    mask-repeat: no-repeat;
    mask-size: contain;

    width: 120px;
    height: 120px;
}


.brilhoMain, .brilhoObjetivos, .brilhoEquipe{
    mask-image: url('../assets/img/brilho.svg');
    -webkit-mask-image: url('../assets/img/brilho.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
}

.brilhoMain{
    background-color: var(--primaria);

    width: 200px;
    height: 200px;
    z-index: -111;


    position: absolute;
    left: 630px;
    top: 300px;
}

.estrelaMoldura1{
    position: absolute;
    right: -55px;
    top: -60px;
    transform: rotate(10deg);

    z-index: -1;
}

.estrelaMoldura2{
    position: absolute;
    left: -40px;
    bottom: -40px;
    transform: rotate(10deg);

    z-index: 111;
}

/* HISTÓRIA */
.historia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.conteudoHistoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    max-width: 900px;
}

.conteudoHistoria p{
    font-family: var(--base);
    font-size: var(--P);
    font-weight: 500;
    text-align: justify;

    color: var(--preto);
}

.tituloHistoria{
    width: 700px;
    display: flex;
    flex-direction: column;
}

.tituloHistoria1 {
    font-family: var(--base);
    font-size: var(--G);
    text-align: start;

    color: var(--primaria-escura);
}

.tituloHistoria2 {
    font-family: var(--adicional);
    font-size: var(--G);
    font-weight: 100;
    text-align: end;
    line-height: 0.1;

    color: var(--primaria-escura)
}

.tituloHistoria2 span{
    font-family: var(--logo);
    font-size: var(--XG);

    color: var(--primaria);
}

.quadriculado{
    width: 100%;
    height: 100px;
    margin: 80px 0px;

    background: conic-gradient(
    var(--branco) 90deg, 
    var(--rosa) 90deg 180deg, 
    var(--branco) 180deg 270deg, 
    var(--rosa) 270deg
    );
    background-size: 100px 100px;
    border: 6px solid var(--rosa);
}

/* OBJETIVOS */

.tituloObjetivos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .7;
}

.tituloObjetivos1 {
    font-family: var(--base);
    font-weight: 800;
    font-size: var(--G);
    color: var(--primaria-escura);
}

.tituloObjetivos2{
    display: flex;
    align-items: center;
    font-family: var(--adicional);
    font-weight: 500;
    font-size: var(--G);

    color: var(--primaria);
}

.pontilhado {
    height: 0px;
    width: 240px;
    border: 2px dashed var(--rosa);
    margin-right: 1.5rem;
}

.brilhoObjetivos {
    background-color: var(--verde);

    width: 100px;
    height: 100px;
    z-index: -111;

    position: relative;
    left: 260px;
    bottom: 130px;
}

.conteudoObjetvos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.player{
    position: relative;
    top: -50px;
    border-radius: 40px;
    overflow: hidden;
    border: 3px solid var(--preto);
    filter: drop-shadow(0px 6px var(--preto));
}

/* CARDS */
.cards{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
    height: 640px;
}

.linhaCards{
    border: 2px solid var(--verde);
    margin-inline: 6rem;
    border-radius: 999px;
}

/* EQUIPE */
.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
}

.tituloEquipe{
    line-height: .5;
    width: 12rem;
}

.tituloEquipe1{
    font-family: var(--base);
    font-size: var(--M);
    color: var(--preto);
}

.tituloEquipe2{
    font-family: var(--logo);
    font-size: var(--G);
    color: var(--verde);
    text-align: end;
}

.brilhoEquipe {
    background-color: var(--rosa);

    width: 80px;
    height: 80px;
    z-index: -111;

    position: relative;
    left: 90px;
    bottom: 90px;
}

.ana, .emilly, .fernanda, .guilherme{
    display: flex;
    align-items: center;
    gap: 64px;
    margin-block: 4rem;
}

.nome{
    font-family: var(--base);
    font-size: var(--XG);
    color: var(--primaria-escura);
    text-shadow:
    6px 6px 0 var(--branco),
    -6px 6px 0 var(--branco),
    -6px -6px 0 var(--branco),
    6px -6px 0 var(--branco);
}

.tituloAna, .tituloEmilly, .tituloFernanda, .tituloGuilherme{
    display: flex;
    flex-direction: column;
    line-height: .6;

    position: relative;
    bottom: -6rem;
}

.sub{
    display: flex;
    align-items: end;
    gap: 1rem;
}

.sobrenome{
    font-family: var(--adicional);
    font-size: var(--XG);
    font-weight: 100;
    text-shadow:
    6px 6px 0 var(--branco),
    -6px 6px 0 var(--branco),
    -6px -6px 0 var(--branco),
    6px -6px 0 var(--branco);
    color: var(--primaria);
}

.links{
    display: flex;
    margin-block: 1rem;
    gap: 1.5rem;

    position: relative;
    bottom: 6rem;
}

.conteudoAna p, .conteudoEmilly p, .conteudoFernanda p, .conteudoGuilherme p{
    font-family: var(--base);
    font-size: var(--P);
    font-weight: 500;
    text-align: justify;

    max-width: 900px;
    position: relative;
    bottom: 5rem;
}

.estrelaAna, .estrelaEmilly, .estrelaFernanda, .estrelaGuilherme{
    background-color: var(--verde);

    mask-image: url('../assets/img/estrelaHalftone.svg');
    -webkit-mask-image: url('../assets/img/estrelaHalftone.svg');
    mask-repeat: no-repeat; 
    mask-size: contain;

    width: 200px;
    height: 200px;
    z-index: -1;

    position: relative;
    bottom: 14rem;
}

.estrelaAna{
    left: 11rem;
}

.estrelaEmilly{
    left: 19rem;
}

.estrelaFernanda{
    left: 30rem;
}

.estrelaGuilherme{
    left: 34rem;
}

.molduraAna, .molduraEmilly, .molduraFernanda, .molduraGuilherme{
    display: flex;
}

.molduraEmilly, .molduraGuilherme{
    order: 1;
}

.conteudoEmilly, .conteudoGuilherme{
    order: 2;
}

.imgAna, .imgFernanda{
    height: 600px;
    width: 450px;
    object-fit: cover; 
    border-radius: 64px;
    transform: rotate(-5deg);

    z-index: 333;
    order: 2;
}

.imgAna{
    border: 12px dashed var(--rosa);
}

.imgFernanda{
    border: 12px dashed var(--primaria);
}

.imgEmilly, .imgGuilherme{
    height: 600px;
    width: 450px;
    object-fit: cover; 
    border-radius: 64px;
    transform: rotate(5deg);

    z-index: 333;
}

.imgEmilly{
    border: 12px dashed var(--verde);
}

.imgGuilherme{
    border: 12px dashed var(--primaria-escura);
}

.asciiAna, .asciiFernanda{
    font-weight: 900;
    order: 1;
    transform: rotate(-5deg);

    position: relative;
    left: 40px;
    bottom: -40px;
}

.asciiAna{
    color: var(--verde);
}

.asciiFernanda{
    color: var(--primaria-escura);
}


.asciiEmilly, .asciiGuilherme{
    font-weight: 900;
    transform: rotate(5deg);

    position: relative;
    left: -60px;
    bottom: -40px;

    z-index: 111;
}

.asciiEmilly{
    color: var(--rosa);
}

.asciiGuilherme{
    color: var(--primaria);
}