/* IMPORTAÇÕES DE FONTES */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: "Moonbase";
  src: url("./assets/fonts/MoonbaseAlpha-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Redaction50";
  src: url("./assets/fonts/redaction-50-latin-400-italic.woff2") format("woff2");
  font-display: swap;
}

/* VARIÁVEIS */
:root {
  /* PALETA DE CORES */
  --primaria: #c3a0ee;
  --primaria-escura: #704592;
  --rosa: #ffcbcb;
  --verde: #d5f299;
  --branco: #fffef2;
  --preto: #262424;
  --cinza: #aeaab2;

  /* TIPOGRAFIA */
  --base: "Outfit", sans-serif;
  --logo: "Moonbase";
  --adicional: "Redaction50";

  /* TAMANHOS */
  --XG: clamp(4rem, 8vw, 8rem);
  --GG: clamp(3rem, 6vw, 6rem);
  --G: clamp(2rem, 4vw, 4rem);
  --M: clamp(1.25rem, 1.75vw, 1.75rem);
  --P: clamp(1rem, 1.25vw, 1.25rem);
  --PP: clamp(0.875rem, 1vw, 1rem);
  --footer: clamp(0.75rem, 0.8vw, 0.8rem);
}

/* LAYOUT PADRÃO */
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  caret-color: var(--preto);
  text-wrap: balance;
  font-family: var(--base);
}

::selection{
  background-color: var(--primaria-escura);
  color: var(--branco);
}