/* IMPORTAÇÕES DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'MoonbaseAlpha';
  src: url('./assets/fonts/MoonbaseAlpha\ Regular.otf');
}

@font-face {
  font-family: 'Retrogression';
  src: url('./assets/fonts/Retrogression-Regular.otf');
}

/* VARIÁVEIS */
:root{
  /* PALETA DE CORES */
  --primaria: #C3A0EE;
  --primaria-escura: #7D4CA2;
  --rosa: #FFCBCB;
  --verde: #D5F299;
  --branco: #FFFEF2;
  --preto: #262424;
  --cinza: #AEAAB2;

  /* TIPOGRAFIA */
  --base: "Outfit", sans-serif;
  --logo: 'MoonbaseAlpha';
  --adicional: 'Retrogression';

  /* TAMANHOS */
  --paragrafos: 1rem;
  --titulos: 2rem;
  --subtitulos: 1.5rem;
  --footer: 0.8rem;
}

*{
  margin: 0px;
  padding: 0px;
}